body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(32, 33, 36);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  line-height: 26px;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 14px;
  line-height: 133%;
}

li::first-letter {
  text-transform: capitalize;
}

.list-right li {
  color: rgb(112, 117, 122);
  font-size: 16px;
  line-height: 125%;
}

ul.list-right {
  text-align: right;
}

ul.top-list-centre {
  padding-top: 6px;
}

small {
  font-size: 11px;
}

.weather-app-wrapper {
  max-width: 620px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #c4b7b7;
  border-radius: 5px;
}

.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.17;
}

.weather-temperature {
  color: rgb(32, 33, 36);
  cursor: default;
  text-decoration: none;
}

.date {
  color: #ee552b;
}

.col-btn {
  padding-left: 0;
}

.col-list-right {
  padding-right: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
