body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(32, 33, 36);
  font-size: 22px;
  font-weight: 400;
  height: auto;
  line-height: 26px;
  text-align: right;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 12px;
  line-height: 133%;
}

li::first-letter {
  text-transform: capitalize;
}

.list-right li {
  color: rgb(112, 117, 122);
  font-size: 16px;
  line-height: 125%;
}

ul.list-right {
  text-align: right;
}

ul.top-list-centre {
  padding-top: 6px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #c4b7b7;
  border-radius: 5px;
}

small {
  font-size: 11px;
}

.weather-temperature img {
  margin-right: 10px;
}

.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 54px;
  font-weight: 400;
  line-height: 1.17;
}

.weather-temperature span {
}
